body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header, ul {
    display: flex;
    flex-direction: row;
    background-color: #F3E9F1;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
}

.onglet_accueil {
    justify-content: space-between;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 80%;
    width: 50%;
}

ul {
    list-style: none;
    color: #0F81E3;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

.peluche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 13px 3px #ccc;
}





